@import url(https://fonts.googleapis.com/css?family=Frijole);

.big-box {
	display: flex;
	flex-direction:	column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: column; /* Safari */
	-webkit-flex-wrap: nowrap; /* Safari */
	-webkit-justify-content: space-around; /* Safari */
	-webkit-align-items: center; /* Safari */
}

.temp-box {
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}

h1 {
	font-family: 'Frijole', sans-serif;
	font-size: 72px;
	text-align: center;

}

