<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
		<!-- Plotly.js -->
 		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 	</head>

	<body>
		<div>
	  	<h1>Is it cold in here?</h1>
	  </div>
		<div class="big-box">
		  <section class="temp-box">
		    <p>
			  	{% if data %}
				  Last read at {{ data.date }}
				  <br>
				  <br>
				  Temperature: {{ data.temp }}&#x2103; &#x2603;
					{% endif %}
		    </p>
		  </section>
		  <section class="graph-box">
		  	<div id="graph-canvas">
		  		<!-- Plotly chart will be drawn inside this DIV -->
	  		</div>
		  </section>
		</div>
    <!-- JavaScript for Plotly graph -->
    <script src="{{url_for('static', filename='js/plotly.js')}}" type="text/javascript"></script>
	</body>
</html>
