{% extends "layout.html" %}
{% block body %}
	<div class="big-box">
		<div class="column">
			<section class="header-box">
				<h1>PiFreezer</h1>
			</section>
			<section class="temp-box">
			    <p>
				  	{% if data %}
						  Last read at {{ data.date }}
						  <br>
						  Temperature: {{ data.temp }}&#xb0;C
						  <br>
						  <br>
						  &#x2603;
						{% else %}
							Uh-oh, the database appears to be empty..?!
						{% endif %}
			    </p>
			  	<div id="graph-canvas">
		  		<!-- Plotly chart will be drawn inside this DIV -->
	  			</div>
			</section>
		</div>
	</div>
    <!-- JavaScript for Plotly graph -->
    <script src="{{url_for('static', filename='js/index.js')}}" type="text/javascript"></script>
{% endblock %}