{% extends "layout.html" %}
{% block body %}
	<div class="big-box">
		<div class="column">
			<section class="header-box">
				<h1>PiFreezer</h1>
				<h2>Monthly reports</h2>
			</section>
			<section class="form-box">
				<select name="year-dropdown" id="year-dropdown">
					<option selected="selected">Year</option>
					{% for num in range(0, 2) %}
						<option value="{{data.year - num}}">{{data.year - num}}</option>
					{% endfor %}
				</select>
				<select name="month-dropdown" id=month-dropdown>
					<option selected="selected">Month</option>
					<option value="January">January</option>
					<option value="February">February</option>
					<option value="March">March</option>
					<option value="April">April</option>
					<option value="May">May</option>
					<option value="June">June</option>
					<option value="July">July</option>
					<option value="August">August</option>
					<option value="September">September</option>
					<option value="October">October</option>
					<option value="November">November</option>
					<option value="December">December</option>
				</select>
		        <button type="button" class="text_btns" id="btn_submit">Submit</button>
		        <div class="msg" id="message"></div>
			</section>
		</div>
	</div>
	<!-- JavaScript -->
	<script src="{{url_for('static', filename='js/reports.js')}}" type="text/javascript"></script>
{% endblock %}
